@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a.active {
  @apply underline font-extrabold;
}

.h1 {
  @apply text-3xl font-extrabold sm:text-4xl xl:text-5xl;
}

.p {
  @apply text-lg font-bold sm:text-xl xl:text-2xl;
}

.navlink {
  @apply p-2 transition duration-300 will-change-transform hover:translate-x-2 hover:text-black motion-reduce:transition-none motion-reduce:hover:transform-none;
}

.fade-in {
  animation: fadeIn 0.8s;
}

.fade-in-fast {
  animation: fadeIn 0.2s;
}

.payment-method {
  @apply bg-white px-2 py-5 flex gap-2;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInReverse {
  from {
    opacity: 0;
    transform: translateX(16px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.slide-in-reverse {
  animation: slideInReverse 0.5s ease-in-out forwards;
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.icon {
  @apply w-5 h-5;
}

.no-scroll {
  overflow: hidden;
}
